body {
    background-image: url(../images/Dodgeball.png);
    background-size: cover;
    background-color: hsl(218, 23%, 16%);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.advice-content {
    position: absolute;
    bottom: 40%;
    border-radius: 15px;
    min-height: 40%;
    min-width: 30%;
    max-width: 50%;
    background-color: hsl(217, 19%, 24%);
    opacity: 0.8;
    color: #fff;
    padding: 0 0.6em;
    text-align: center;
}

.advice-id {
    position: absolute;
    top: 0;
    margin-top: -5px;
    color: hsl(150, 100%, 66%);
    font-family: 'Manrope', sans-serif;
    font-size: 0.8em;
    letter-spacing: 0.5cap;
}

.advice-text {
    display: flex;
    color: hsl(193, 38%, 86%);
    font-family: 'Manrope', sans-serif;
    font-weight: 550; 
    font-size: 1.4em;
    margin: 0.6em;
    padding: 1.2em;
}

.advice-button {
    position: absolute;
    bottom: 0;
    margin-bottom: -25px;
    border-radius: 50%;
    border: none;
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
    padding: 1.5em;
}

.advice-button img {
    width: 1.5em;
    height: 1.5em;   
}

.attribution { 
    font-size: 0.6em; 
    text-align: 
    center; 
}

.attribution a { 
    color: hsl(227, 100%, 76%); 
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 0.5em;
    width: 100%;
    padding: 0.5em;
    background: hsl(218, 23%, 16%);
    color: white;
}