<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <title>Advice generator app</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="centered advice-container">
    <div class="centered advice-content">
      <div class="advice-id"><span> CHUCK NORRIS JOKES </span></div>
      <div class="advice-text">
        <p id="jsonJoke" hx-get="https://api.chucknorris.io/jokes/random" hx-trigger="load" hidden></p>
        <p id="joke">SMASH THE BUTTON BELLOW</p>
      </div>
      <button class="advice-button" hx-get="https://api.chucknorris.io/jokes/random" hx-target="#jsonJoke" hx-swap="innerHtml" onclick="loadJoke()">
        <img src="images/icon-dice.svg" alt="dice-icon">
      </button>
    </div>
  </div>

<script src="node_modules/htmx.org/dist/htmx.js"></script>
<script src="js/script.js"></script>
</body>
<footer>
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Gabriel Silva</a>.
  </div>
</footer>
</html>